<%= simple_form_for(@recipient_group) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :group_desc, label: "Group", required: true, autofocus: true, input_html:{class:"form-control",style:"width:50%;"} %>
    <%= f.input :client_code, label: "Client", collection: @clients, label_method: :company_name, value_method: :id, required: true, autofocus: true, input_html:{class:"form-control",style:"width:50%;"} %>
    <% if @user_app == true %>
    <%= f.input :approver_cat_id,label: "Approver Group",collection: @approver_cats, label_method: :category_name, value_method: :id,  required: true, autofocus: true, input_html:{class:"form-control",style:"width:50%;"} %>
      <% else %>
      <%#= f.input :approver_cat_id,label: "Approver Group",collection: @approver_cats, label_method: :category_name, value_method: :id,  required: true, autofocus: true, input_html:{class:"form-control",style:"width:50%;"} %>
      <% end %>
    <%= f.input :user_id, as: :hidden , input_html:{value: current_user.id } %>
  </div>

    <div class="form-actions">
      <%= f.button :submit, "Submit",class: "btn btn-primary", style: "width:auto" %>
      <%= link_to 'Back', recipient_groups_path,class: "btn btn-danger", style: "width:auto"%>
    </div>
<% end %>

